---
Checks:
  - "*"
  - "-abseil-*"
  - "-altera-*"
  - "-android-*"
  - "-darwin-*"
  - "-fuchsia-*"
  - "-google-*"
  - "-linuxkernel-*"
  - "-llvm-*"
  - "-llvmlibc-*"
  - "-mpi-*"
  - "-objc-*"
  - "-openmp-*"
  - "-zircon-*"
  - "-modernize-use-trailing-return-type"
  - "-bugprone-easily-swappable-parameters"
  - "-readability-identifier-length"
HeaderFilterRegex: ""
FormatStyle: none
